#colophon{
	padding: 10px 15px;
	color: $color__text-light;
	text-align: center;
	@include font-size( 1.2 );

	a{
		color: $color__text-light;		
	}
}

/**
* Desktop Adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#colophon{
		border-top: 1px solid $color__border;		
	}
}