#secondary{
	border-top: 1px solid $color__border;
}

.widget {
	padding: 15px;
	border-bottom: 1px solid $color__border;

	@include font-size-desktop( 1.4 );

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	ul,ol{
		margin-left: 0;
	}

	li{
		list-style: none;
		margin-bottom: 3px;
	}

	a{
		color: $color__text-light;
	}
}

.widget-title{
	@include font-size( 1.6 );
	@include font-size-desktop( 2.2 );
		
	font-weight: lighter;
	margin-bottom: 10px;
}

/* Search widget */
.widget_search{
	.search-form{
		position: relative;
		padding-right: 105px;
	}

	.search-field{
		display: block;
		width: 100%;
		@include box-sizing( border-box );
	}

	.search-submit {
		margin-left: 5px;
		position: absolute;
		top: 0;
		right: 0;
	}	
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	.widget{
		padding: 20px 33px;		
	}
}

/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#secondary{
		border-top: none;
	}

	.widget{
		border-bottom: none;
		padding-right: 0;
		padding-left: 0;
	}

	.widget-title{
		margin-bottom: 5px;
	}
}