ul, ol {
	margin: 0 0 1em 1.3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1em 1em;
}