$color__accent: #F2E6D7;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: darken( $color__accent, 60% );
$color__link-visited: darken( $color__accent, 50% );
$color__link-hover: darken( $color__accent, 40% );
$color__link-shadow: darken( $color__link, 20% );
$color__text-main: #5F5E5E;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__text-title: darken( $color__accent, 78% );
$color__text-light: lighten( $color__text-main, 30% );
$color__text-date: #AFAFAF;
$color__submit: #79726E;
$color__border: #EFEFEF;

$color__aside-bg: #FAFAFA;

$color__menu-background: #FDFDFD;

$color__secondary-bg: lighten( $color__accent, 10% );

$color__portfolio-bg: #EFEFEF;