.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: $color__menu-background;
	border-top: 1px solid $color__border;

	&.toggled{
		border-bottom: 1px solid $color__border;
	}

	.nav-menu{
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;

		ul {	

			li {
				padding-left: 30px;

				&:last-child{
					a{						
						border-bottom: 1px dashed $color__border;
					}
				}

				a{
					border-top: 1px dashed $color__border;
					@include font-size( 1.3 );
					padding: 4px 15px;
					opacity: .8;
				}

				ul{
					border-top: 1px dashed $color__border;

					li{
						&:first-child{
							a{
								border-top: 0;
							}
						}

						&:last-child{
							a{
								border-bottom: 0;
							}
						}
					}
				}
			}

			a {
				display: block;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 7px 15px;
		// text-align: center;
		color: $color__text-title;
		@include font-size( 1.6 );
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu */
.menu-toggle {
	// display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
}

/**
* Older / Newer navigation
*/
.paging-navigation{
	text-align: center;
	padding: 40px 10px;

	a{
		@include font-size( 1.4 );
		border: 1px solid $color__link;
		padding: 7px 40px;
		@include border-radius( 4px );
	}
}