.sticky {
	display: block;
}

.hentry {
	margin: 0;
	padding: 15px;
	border-bottom: 1px solid $color__border;

	&.format-aside{
		background: $color__aside-bg;
	}

	.entry-meta{
		margin-bottom: 5px;
		
		a{
			@include font-size( 1.2 );
			font-weight: lighter;
			text-decoration: none;
			color: $color__text-date;
		}
	}

	.entry-title{
		@include font-size( 2 );
		line-height: 1.3;
		font-weight: 900;
		color: $color__text-title;

		a{
			color: $color__text-title;
			text-decoration: none;
		}
	}

	.entry-subtitle{
		@include font-size( 1.6 );
		font-weight: lighter;
		color: $color__text-light;
		margin-top: 10px;
		margin-bottom: 0;
		line-height: 1.3;

		a{
			color: $color__text-light;			
		}
	}

	.entry-content{
		margin-top: 20px;
	}

	.tags-links{
		display: block;
		border-top: 1px solid $color__border;
		margin: 10px -15px 0;
		padding: 10px 15px 0;

		.section-title{
			display: block;
			margin-bottom: 5px;
			color: $color__text-title;
		}

		a{
			color: $color__link;
			border: 1px solid $color__link;
			@include font-size( 1.2 );
			padding: 4px 10px;
			@include border-radius( 4px );
			margin: 0 1px 2px 0;
			display: inline-block;
			line-height: 1;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-navigation{
	.nav{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		line-height: 1.3;
		@include font-size( 1.4 );
		border-bottom: 1px solid $color__border;

		a{
			display: block;
			padding: 15px;
			color: $color__text-light;
		}

		.meta-label{
			display: block;
			color: $color__text-main;
			font-weight: 900;
		}
	}
}