.sticky {
	display: block;
}

.hentry {
	margin: 0;
	padding: 15px;
	border-bottom: 1px solid $color__border;
	position: relative;
	overflow: hidden;

	&.format-aside{
		background: $color__aside-bg;

		.entry-featured-image.as-background{
			display: none;
		}
	}

	.entry-featured-image.as-background{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: 10;

		&:before{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			background: white;
			opacity: .9;
		}

		img{
			width: 100%;
		}
	}

	.entry-header{
		position: relative;
		z-index: 20; // should be higher than .entry-featured-image

		.entry-meta{	
			@include font-size( 1.1 );
			@include font-size-tablet( 1.2 );
			@include font-size-desktop( 1.3 );
			text-transform: uppercase;

			a{
				font-weight: bold;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}

			.edit-link{
				float: right;
			}
		}

		.edit-link{
			display: inline-block;

			a{
				border: 1px solid $color__link;
				color: $color__link;
				padding: 2px 10px;
				@include border-radius( 4px );
				font-weight: normal;
			}
		}		
	}

	.entry-title{
		@include font-size( 2 );
		@include font-size-desktop( 2.8 );

		line-height: 1.3;
		font-weight: 900;
		color: $color__text-title;

		a{
			color: $color__text-title;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	.entry-subtitle{
		@include font-size( 1.8 );
		@include font-size-desktop( 1.8 );

		font-weight: lighter;
		color: $color__text-light;
		margin-top: 10px;
		margin-bottom: 0;
		line-height: 1.3;

		a{
			color: $color__text-light;			
		}
	}

	.entry-content{
		position: relative;
		z-index: 20; // should be higher than .entry-featured-image
		margin-top: 20px;

		@include font-size-desktop( 1.7 );	
	}

	.entry-footer{
		display: block;
		@include font-size( 1.2 );
		@include font-size-tablet( 1.3 );

		.entry-meta{	
			@include font-size( 1.2 );
			text-transform: uppercase;

			a{
				font-weight: lighter;
				text-decoration: none;
				color: $color__text-date;

				&:hover{
					text-decoration: underline;
				}
			}
		}		

		.posted-on{
			display: block;
			font-weight: bold;
			margin: 0 -15px -2px;
			padding: 10px 15px 0;
			letter-spacing: 1px;
			@include font-size( 1.1 );
		}		
	}

	.tags-links{
		display: block;
		border-top: 1px solid $color__border;
		margin: 10px -15px 0;
		padding: 10px 15px 0;

		.section-title{
			display: block;
			margin-bottom: 3px;
			@include font-size( 1.4 );
			font-weight: bold;
		}

		a{
			color: $color__link;
			border: 1px solid $color__link;
			@include font-size( 1.2 );
			padding: 4px 10px;
			@include border-radius( 4px );
			margin: 0 1px 2px 0;
			display: inline-block;
			line-height: 1;
		}
	}

	input[type="radio"],
	input[type="checkbox"]{
		margin-right: 5px;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-navigation{
	background: $color__secondary-bg;
	box-shadow: inset 0 0 10px darken( $color__secondary-bg, 2% );

	.nav{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		line-height: 1.3;
		@include font-size( 1.4 );

		a{
			display: block;
			padding: 15px;
			color: $color__text-light;
			border-bottom: 1px solid $color__border;
		}

		.meta-label{
			display: block;
			color: $color__text-main;
			font-weight: 900;
		}
	}
}

/**	
* Single template styling
*/
.single,
.page{
	.entry-featured-image{
		img{
			width: 100%;
		}
	}

	.hentry{
		.entry-title{
			@include font-size( 2.4 );
			@include font-size-desktop( 3.4 );
		}	

		.entry-subtitle{
			@include font-size-desktop( 2 );			
		}	

		.entry-content{
			margin-top: 0;

			a{
				text-decoration: underline;
			}

			// Civil Footnotes support
			sup{
				a{
					text-decoration: none;
				}
			}

			.footnotes{
				li{
					@include font-size-tablet( 1.3 );
					@include font-size-desktop( 1.4 );
				}

				.backlink{
					text-decoration: none;
				}
			}
		}
	}
}

/**
* Page styling
*/ 
.page{
	.entry-header{
		.edit-link{
			margin-top: 10px;
			@include font-size( 1.2 );
		}
	}
}

/**
* Error 404 styling
*/
.error404{
	#primary{
		text-align: center;

		.search-form{
			padding: 15px 15px 16px;
			border-bottom: 1px solid $color__border;

			.search-field{
				padding: 5px 10px;
				margin-bottom: -2px;
				vertical-align: top;
			}

			.search-submit{
				// margin-top: -2px;
				vertical-align: top;
			}
		}
	}
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	.entry-featured-image{
		height: 400px;
		overflow-y: hidden;
	}

	.hentry{
		padding: 20px 33px;		
		
		.entry-footer .posted-on,
		.tags-links{
			margin: 10px -33px 0;
			padding: 10px 33px 0;
		}
	}

	.post-navigation{
		position: relative;
		border-bottom: 1px solid $color__border;

		&:before{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			content: '';
			width: 1px; 
			background: $color__border;
		}
		.nav{
			display: inline-block;
			width: 50%;
			vertical-align: top;

			a{
				padding: 20px 33px;
				border-bottom: none;
			}
		}

		.nav-next{
			text-align: right;
		}
	}

	/**
	* Error 404 styling
	*/
	.error404{
		#primary{
			.search-form{
				padding: 15px 30px 16px;
				text-align: center;
	
				.search-field{
					padding: 5px 10px;
					vertical-align: top;
					width: 400px;
					margin-right: 10px;
				}

				.search-submit{
					// margin-top: -2px;
					vertical-align: top;
				}
			}
		}
	}

}

/**
* Desktop Adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	.hentry{
		padding-top: 40px;
		padding-bottom: 40px;
	}	

	.single,
	.page{
		.hentry{
			padding-top: 30px;

			.entry-subtitle{
				margin-top: 8px;
			}
		}
	}

	.post-navigation{
		border-left: 1px solid $color__border;
	}

	/**
	* Error 404 styling
	*/
	.error404{
		#content:before{
			display: none;
		}

		#primary{
			float: none;
			@include wrap( 600px );

			.search-form{
				padding-top: 40px;
				padding-bottom: 40px;
				border-bottom: none;
			}
		}
	}
}